<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="bash"
                  arguments="startup-with-ssh.sh"
                  stdoutLogEnabled="true"
                  stdoutLogFile="C:\home\LogFiles\python.log"
                  startupTimeLimit="180"
                  startupRetryCount="3">
    </httpPlatform>
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
    <defaultDocument>
      <files>
        <clear />
        <add value="hostingstart.html" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
